body {
	background-color: #EEEEEE;
	margin:0px;
	padding: 0%;
}
video {
  	width: 100%;
  	height: 100%;
  	position: relative;
}

.center {
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	margin: auto;
}

.main {
	width: 75%;
	height: 80%;
	background-color: #DDDDDD;
	display: inline-block;
	border-radius: 8px;
	overflow: hidden;
}

.video {
	width: 60%;
	height: 80%;
	background-color: #000000;
	padding: 0px;
	float:left;
}

.right {
	width: 40%;
	height: 76%;
	/* background-color: #555555; */
	float:right;
}

.question {
	width: 100%;
	height: 20%;
	/* background-color: #c53555; */
	float:right;
	text-align: center;
	font-family: "Montserrat", Times, serif;
}

.question:first-letter {
    text-transform:capitalize;
}

.chart {
	width: 100%;
	height: 76%;
	/* background-color: #5555c3; */
	float:right;
}

#myChart {
	/* margin-top: 30%; */
	/* margin-top: calc(50% - 157px/2); */
	/* float:bottom; */
	/* width: 100%; */
	/* height: 400px !important; */
}

#myText {
	/* width: 100%; */
	height: 24%;
	/* background-color: #555500; */
	float:left;
	padding-top: 10px;
	margin-left:10px;
	margin-right:10px;
	text-align: left;
	font-family: "Mulish", Times, serif;
}
